@charset "utf-8";	
/* CSS for EShopper Banner */

#locations-column 
{ 
	position: relative; 
	width: 200px; 
	height: 250px; 
	margin: 0;
	padding: 10px 10px 10px 10px; 
	/* background:#FFFFFF; */
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-right:1px solid orange;
}

.orange {
	font-size:20px;
	color:#ee7f01;
	font-weight: bold;
}

.inputCurved  {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width:100px;
	/* size: 5; */
	}

.locationlink {
	
}
