@charset "utf-8";	
/* CSS for EShopper Banner */

#links-column
{ 
	position: relative; 
	width: 200px; 
	height: 500px; 
	margin: 0;
	padding: 10px 10px 10px 10px; 
	/* background:#FFFFFF; */
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-right:1px solid orange;
}

#workArea
{
	position:relative;
	width:600px;
	height:850px;
	margin:0;
	padding:1px 0px 0px 0px;
	/* background:#E4F0B4; */
	float: left;
}

#editArea
{ 
	position: relative; 
	width: 500px; 
	height: 850px; 
	margin: 0;
	padding: 0px 0px 0px 0px; 
	background:#FDFDF3;
	float: left;
	border-left:1px solid orange;
	/* overflow-x:auto;
	overflow-y:auto; */
}