@charset "utf-8";	
/* CSS for EShopper Banner */

#stores-column 
{ 
	position: fixed; 
	width: 200px; 
	height: 100%; 
	margin: 0;
	padding: 10px 10px 10px 10px; 
	/* background:#FFFFFF; */
	float: left;
	left: 0px;
	top: 250px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-right:1px solid orange;
}

.storelink{
	
}
