<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='org.sunshine.location.LocationMapper'>

	<!-- Instead of referencing Fully Qualified Class Names we can register 
		Aliases in mybatis-config.xml and use Alias names. -->
	<resultMap type='Location' id='locationResult'>
		<id property='id' column='id' />
		<result property='name' column='name' />
	</resultMap>

	<select id='getAllLocations' resultMap='locationResult'>
		SELECT * from locations
	</select>
	
	<select id='getAllLocationsByName' parameterType='String' resultMap='locationResult'>
		SELECT * from locations where name like #{name}
	</select>

	<update id='updateLocationInShoppingCart' parameterType='String'>
		update stores set location = #{param1} where location = #{param2}
	</update>


</mapper>